<p> 
  <%= profile.name %>
  <% if action_name == 'index' %> 
    <%= link_to "Show", profile %>
    <%= link_to "Edit", edit_profile_path(profile) %>
    <%= link_to "Delete", profile_path(profile), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</p>